## Leetcode Question:578 Get Highest Answer Rate Question
Table(survey_log):
Col:  id(user id), action( "show", "answer", "skip"), question_id, answer_id(not null when action column is "answer), q_num, timestamp
AIM: Get the highest answer rate question from a table


Link：https://leetcode-cn.com/problems/get-highest-answer-rate-question

Step 1: if answer_id is not null that means question be answered
Step 2: Group questions based on their question_id, Count how many time this question be answer
Step 3: find the max value 

Solution:
SELECT question_id as survey_log
FROM survey_log
WHERE answer_id IS NOT NULL
GROUP BY question_id
ORDER BY COUNT(answer_id) DESC
LIMIT 1;

Tips: Order by - default order is AESC

## 602. Friend Requests II: Who Has the Most Friends
Table: request_accepted
1) requester_id
2)accepter_id
3) accept_date
Write a query to find the the people who has most friends and the most friends number under the following rules:
It is guaranteed there is only 1 people having the most friends.
The friend request could only been accepted once, which mean there is no multiple records with the same requester_id and accepter_id value.

Link：https://leetcode-cn.com/problems/friend-requests-ii-who-has-the-most-friends

Though 1:
SELECT accepter_id as 'id',
       friend_count as 'num'
FROM(
SELECT accepter_id,
       COUNT(*) OVER (partition by accepter_id) as friend_count
FROM request_accepted ) t
ORDER BY friend_count DESC
LIMIT 1;

Issue with this approach :
1) forgot to count requester_id

Step 1: Count the requester_id
Step 2: Combine the requeter_id list to the accepter_id lis
Step 3: Count(*) to find the MAx number

Solution:
select id, count(*) over (partition by id) as num from 
(select requester_id id from request_accepted
union all
select accepter_id from request_accepted) t1
order by num desc
limit 1

## 1179. Reformat Department Table
Department
1) id
2) Revenue
3) month(Jan,Feb,Mar,Apr,May......Dec)

Result Table:
id Jan_Revenue Feb_revenue ........Dec_revenus

Method 1: SQL server
Pivot Table
use pivot table to convert column to row
Solution:
select 
id,
Jan as 'Jan_Revenue',
Feb as 'Feb_Revenue',
Mar as 'Mar_Revenue',
Apr as 'Apr_Revenue',
May as 'May_Revenue',
Jun as 'Jun_Revenue',
Jul as 'Jul_Revenue',
Aug as 'Aug_Revenue',
Sep as 'Sep_Revenue',
Oct as 'Oct_Revenue',
Nov as 'Nov_Revenue',
Dec as 'Dec_Revenue'
from Department
PIVOT
(
    SUM(revenue) for month in(Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
	)
)T

Method 2: MySQL
Use if to identify Month
SELECT id,
sum(if(month='Jan',revenue,null)) as Jan_Revenue,
sum(if(month='Feb',revenue,null)) as Feb_Revenue,
sum(if(month='Mar',revenue,null)) as Mar_Revenue,
sum(if(month='Apr',revenue,null)) as Apr_Revenue,
sum(if(month='May',revenue,null)) as May_Revenue,
sum(if(month='Jun',revenue,null)) as Jun_Revenue,
sum(if(month='Jul',revenue,null)) as Jul_Revenue,
sum(if(month='Aug',revenue,null)) as Aug_Revenue,
sum(if(month='Sep',revenue,null)) as Sep_Revenue,
sum(if(month='Oct',revenue,null)) as Oct_Revenue,
sum(if(month='Nov',revenue,null)) as Nov_Revenue,
sum(if(month='Dec',revenue,null)) as Dec_Revenue
FROM Department
Group By id;
Tips : can use case... when as well

## 1757. Recyclable and Low Fat Products
Table: Products

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| product_id  | int     |
| low_fats    | enum    |
| recyclable  | enum    |
+-------------+---------+
low fats: Y or N
recyclable : Y or N

return product id when this product is both recyclable and low fat

Solution:
SELECT product_id
FROM Products
WHERE low_fats='Y' AND recyclable='Y';