Leetcode Question: 1683. Invalid Tweets
Table:Tweets
1)tweet_id
2)content
Write an SQL query to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15

https://leetcode-cn.com/problems/invalid-tweets

Recall: MS SQL Serve-- LEN()
Solution: 
SELECT tweet_id
FROM Tweets
WHERE LEN(content)>15

Leetcode Question:1393. Capital Gain/Loss
Table Stocks
1) Stock_name
2) Operation (Buy,Sale)
3) operation_day
4) Price

Write an SQL query to report the Capital gain/loss for each stock.(Sale - Buy)

https://leetcode-cn.com/problems/capital-gainloss

1) Make all buy price as negative(CASE....WHEN)

2) sum sale and buy per product(GROUP BY)

Solution:
SELECT stock_name,
sum(case when operation = 'Buy' THEN -price
ELSE price END) as 'capital_gain_loss'
FROM Stocks
Group By stock_name

Leetcode Question: 1350. Students With Invalid Departments
Table Departments
1) id (department_id)
2) name(department_name)

Table Students
1) id(students' id)
2) name
3) department_id

Write an SQL query to find the id and the name of all students who are enrolled in departments that no longer exists.

https://leetcode-cn.com/problems/students-with-invalid-departments

Step 1) Join two table togther
Step 2) if students who are enrolled in departments that no longer exists(in another words, no longer exist in the department table), value for this record (department_name) should be NULL-- use this as selection crition

Soluntion:
select s.id,s.name
FROM Students s 
LEFT JOIN Departments d 
ON s.department_id=d.id
WHERE d.name IS NULL;

Tip: recall difference between join, left join and inner join

Leectode Question 1741. Find Total Time Spent by Each Employee
Table Employees

+-------------+------+
| Column Name | Type |
+-------------+------+
| emp_id      | int  |
| event_day   | date |
| in_time     | int  |
| out_time    | int  |
ï¼šhttps://leetcode-cn.com/problems/find-total-time-spent-by-each-employee

Write an SQL query to calculate the total time in minutes spent by each employee on each day at the office. Note that within one day, an employee can enter and leave more than once. The time spent in the office for a single entry is out_time - in_time.

1) Out_in - in_time = time _spent_in_office
2) Use group by with two , event_day then emp_id(someone may log in and log out multiple times)

Solution:
SELECT event_day as day, emp_id,
sum(out_time-in_time) as 'total_time'
FROM Employees
Group BY event_day,emp_id;